fastapi
uvicorn[standard]
chromadb
langchain
langchain-community
langchain-core
langchainhub
sentence-transformers
python-multipart
pydantic
ollama
boto3
python-docx
pytesseract
pillow
pymupdf
chromadb[server]
tiktoken